/*Main Page Header styles*/
header{
    background-color: #D1E5F4;
    color: blue;
}
.mainPageHeader{
    display: flex;
    align-items: center;
    gap: 30px;
}
.logo{
    width: 60px;
    height: auto;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 25px;
}


/*Secondary hero section styles*/
.heroContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
}

.hero-content {
    flex: 1;
}

.hero-image img {
    border-radius: 12px;
    max-height: 250px;
}

.button {
    display: inline-block;
    background-color: #1261a0;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
}

/*Styles for the event cards on the main page*/
.events-section {
    padding: 25px;
    background-color: #AECCE4;
}
.event-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.event-card {
    background-color: lightgray;
}
.event-card img {
    height: 190px;
}
.event-card-content {
    padding: 10px;
}


.event-card h3 {
    margin-top: 12px;
    margin-bottom: 10px;
}
.event-card p {
    color: white;
}
.event-card a {
    font-weight: bold;
    text-decoration: none;
}


/*About Section Styles*/
.about-section {
    background-color: lightblue;
}

.about-content h1 {
    font-size: 2.3rem;
}

.benefits {
    display: flex;
    gap: 25px;
}
.benefit {
    flex: 1;
    background-color: rgba(69, 221, 175, 0.226);
}

/*Footer Styles*/
footer {
    background-color: #9ABDDC;
    color: white;
}
footer .container {
    display: flex;
    justify-content: space-around;
    gap: 25px;
}

footer p {
    color: whitesmoke;
}

footer a{
    color: whitesmoke;
}

.copyright {
    border-top: 1px solid whitesmoke;
    text-align: center;
}

/*----------------------------------------------STYLES FOR THE EVENTS PAGE!---------------------------------------*/
.event-intro {
    background-color: #eaf2f8;
}
.featured-figure img {
    max-height: 350px;
    object-fit: cover;
}
.featured-figure figcaption {
    font-size: 0.85rem;
}

/*Makes it into the dual collum layout*/
.event-layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    align-items: start;
}

/* Right hand bar */
.sidebar-card {
    background-color: #12395b;
    color: white;
    padding: 25px;
}
.sidebar-card h2 {
    color: white;
    margin-top: 0;
}
.sidebar-card dl div {
    padding: 13px 0;
}

.sidebar-card dt {
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #b8cee0;
}
.sidebar-card dd {
    margin: 3px 0 0;
}

/*Moves the sidebar below the main part*/
@media (max-width: 750px) {
    .event-layout {
        grid-template-columns: 1fr;
    }
}



