/*Main Page Header styles*/
header{
    background-color: #D1E5F4;
    color: blue;
}
.mainPageHeader{
    display: flex;
    align-items: center;
    gap: 30px;
}
.logo{
    width: 60px;
    height: auto;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 25px;
}


/*Secondary hero section styles*/
.heroContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
}

.hero-content {
    flex: 1;
}

.hero-image img {
    border-radius: 12px;
    max-height: 250px;
}

.button {
    display: inline-block;
    background-color: #1261a0;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
}

/*Styles for the event cards on the main page*/
.events-section {
    padding: 25px;
    background-color: gray;
}
.event-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.event-card {
    background-color: lightgray;
}
.event-card img {
    height: 190px;
}
.event-card-content {
    padding: 10px;
}


.event-card h3 {
    margin-top: 12px;
    margin-bottom: 10px;
}
.event-card p {
    color: white;
}
.event-card a {
    font-weight: bold;
    text-decoration: none;
}


/*About Section Styles*/
.about-section {
    background-color: lightblue;
}

.about-content h1 {
    font-size: 2.3rem;
}

.benefits {
    display: flex;
    gap: 25px;
}
.benefit {
    flex: 1;
    background-color: rgba(69, 221, 175, 0.226);
}




